
/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
 background-color: #18168f;
 color: white;
 background-color: #18168F;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
 font-family: korinna;
 height: 100vh;
 text-transform: uppercase;
 text-shadow: 4px 3px 4px black;
 text-align: center;
 font-family: 'Koulen', cursive;
}

#card{
     height: 45vh;
     width: 45vh;
     border: white solid 1px;
     margin-bottom: 1%;
     margin: 0 auto;
     
}
#card p {
     padding: 5% 10%;
     font-size: 2rem;
}

#allPlayers{
     display: flex;
     justify-content: space-around;
     
}
#category {
     font-size: 1.5rem;
}
.hidden{
     display: none;
}

#question, #show {
     margin-top: 2%;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media only screen and (max-width: 700px){
     *{
     font-size:.7rem;
     }
}
     
